@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed&display=swap');

* {
    font-family: 'Ubuntu Condensed', sans-serif;
    color: rgb(216, 85, 85);
    font-size: 35px;
}
body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: rgb(251,199,127);
}

header  {
    padding: 10
}
